<div class="checkout" ng-show={{showTotalAmount}}>
	<div class="row">		
			<div class="col-sml-4"></div>
			<div class="col-sml-4"></div>
			<div class="col-sm-4">
				<b>TOTAL COST : </b>
				<select name="currencySelect" id="currencySelect" ng-model="data.currency"
				ng-change="selectedCurency(data.currency)">
      				<option 
      					ng-selected="{{ value.id == data.currency}}"
      					ng-repeat="option in data.availableCurrencies"
      					value="{{option.id}}">{{option.name}}</option>
    			</select>
				<b> {{amount}} </b>
			</div>
	</div>
</div>