<div class="row checkout">
	CHECKOUT 
</div>
<div class="col-sm-0 checkout-content" ng-show={{showTotalAmount}}>
	<div class="row total-cost">		
		<b>TOTAL COST </b>	
	</div>
	
	<div class="row dd-currency">
		Select Currency : 
		<select name="currencySelect" id="currencySelect" ng-model="data.currency"
		ng-change="selectedCurency(data.currency)">
			<option 
				ng-selected="{{ value.id == data.currency}}"
				ng-repeat="option in data.availableCurrencies"
				value="{{option.id}}">{{option.name}}</option>
		</select>	
	</div>	
	<div class="row amount">
		<b> {{amount}} </b>		
	</div>
</div>
	