<div class="basket col-sm-6">
	<div class="row">
		<p>Basket</p>  
	</div>
	<div class="row text-center">
			
			<div class="row basket-heading">
				<div class="col-sm-2"><b>Product</b></div>
				<div class="col-sm-2"><b> Price </b> </div>
				<div class="col-sm-2"></div>
			</div>

			<ul class="list-unstyled basket-items" ng-repeat="item in basket.items track by $index">
		 	<li> 
		 		<div class="row">
		 			<div class="col-sm-4">
							<div class="item-name">{{ item.name }}</div>
							<div class="item-price">{{ item.price }}</div>
		 			</div>
		 			<div class="col-sm-4 item-remove">
		 				<button ng-click="removeItem(item)"> Remove </button>
		 			</div>		
		 		</div>
		 	</li>
		</ul>
	</div>
	<div class="row">
		<div class="col-sm-2">
			<button ng-click="checkout(basket.items)" > Checkout </button>
		</div>
	</div>
</div>
