	<div class="row basket">
		BASKET 
	</div>
	<div class="col-sm-0 basket-contents">
		<ul class="list-unstyled basket-items" ng-repeat="item in items track by $index">
		 		<li class="row"> 
		 			<div class="col-sm-4">
							<div class="item-name">{{ item.name }}</div>
		 			</div>
		 			<div class="col-sm-4">
						<div class="item-price">{{ item.price }}</div>
		 			</div>
		 			<div class="col-sm-4 item-remove">
		 				<div class="glyphicon glyphicon-remove" ng-click="removeItem(item)"> </div> 
		 			</div>		 			
		 		</li>
			</ul>
	</div>	
	<div class="row col-sm-0">
		<button type="button" ng-click="checkout(items)" class="btn btn-success btn-lg btn-block checkout-btn">ORDER</button>
	</div>		
</div>
