
li {
	img {
		width: 50px;
		height: 50px !important;
		margin-top:10px;

	}

	.item-name{
		text-align:center;
		font-weight: 400;
		padding-top: 20px;
	}

	.item-price{
		margin-top: 20px;
	}

	.item-add{
		margin-top: 25px;
	}

}

.product-heading {
	background: grey;
    color: white;
    border: 2px solid grey;
	border-raduis: 2px;
	padding: 10px;
    margin-bottom: 10px;
} 

.item {
	border: 2px solid grey;
	padding-bottom: 10px;
}