<div class="col-sm-12">	
<div class="row products">

	<div class="row text-center">
		
			<div class="row product-heading">
				<div class="col-sm-2"><b>Product</b></div>
				<div class="col-sm-2"><b> Price </b> </div>
				<div class="col-sm-2"></div>
			</div>
			<ul class="list-unstyled items" ng-repeat="item in items">
			 	<li> 
			 		<div class="row ">
			 			<div class="col-sm-2">
			 				<img ng-src="{{item.image_url}}" alt="{{item.name}}" class="img-thumbnail">
			 				<div class="item-name">{{ item.name }}</div>
			 			</div>
			 			<div class="col-sm-2">
								
								<div class="item-price">
									<b>
										£{{ item.price }}		
									</b>
								</div>
			 			</div>
			 			<div class="col-sm-2 glyphicon glyphicon-plus" ng-click="addItem(item)"></div>		
			 		</div>
			 	</li>
			</ul>			
		</div>
	</div>
</div>
