
li {
	img {
		width: 100px;
		height: 100px;
		item-name{
			text-align:center;
			font-weight: 400;
		}
	}

}

.product-heading {
	margin: 15px;
} 

.items {
	border: 1px solid grey;
	vertical-align:middle;
}